<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="Production logging configuration" monitorInterval="60" status="info">
    <Properties>
        <Property name="LOG_PATTERN">%d{DEFAULT} %-5p [%t] %c{1} : %m%n</Property>
        <!-- ${web:contextPath} needs log4j version 2.13.0-->
        <Property name="APP_LOG_ROOT">${sys:catalina.base}\logs\bot\${web:contextPath}</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="STDOUT" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- General app log file Appender -->
        <RollingFile name="appLog"
                     filePattern="${APP_LOG_ROOT}\app-log.%d{yyyy-MM-dd}.log"
                     ignoreExceptions="false"
                     append="true">
            <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DirectWriteRolloverStrategy>
                <Delete basePath="${APP_LOG_ROOT}" maxDepth="1">
                    <IfLastModified age="30d"/>
                </Delete>
            </DirectWriteRolloverStrategy>
        </RollingFile>

    </Appenders>

    <Loggers>
        <!-- General logger -->
        <Logger name="ua.omniway" level="trace" additivity="false">
            <AppenderRef ref="appLog"/>
        </Logger>
        <!-- Spring logger -->
        <Logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="appLog"/>
        </Logger>
        <!-- Telegram API logger -->
        <Logger name="org.telegram.telegrambots" level="debug" additivity="false">
            <AppenderRef ref="appLog"/>
        </Logger>
        <!-- JAX-WS logger -->
        <Logger name="com.sun.xml.ws.transport.http.client.HttpTransportPipe" level="trace" additivity="false">
            <AppenderRef ref="appLog"/>
        </Logger>
        <!-- Hibernate -->
        <Logger name="org.hibernate.SQL" level="trace" additivity="false">
            <AppenderRef ref="appLog"/>
        </Logger>
        <Logger name="org.hibernate.engine.jdbc.batch.internal.BatchingBatch" level="trace" additivity="false">
            <AppenderRef ref="appLog"/>
        </Logger>
        <Logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="debug" additivity="false">
            <AppenderRef ref="appLog"/>
        </Logger>

        <!--Root logger-->
        <Root level="info">
            <AppenderRef ref="appLog"/>
            <AppenderRef ref="STDOUT"/>
        </Root>

    </Loggers>
</Configuration>